@media (min-width: 62rem) {
  #about-js-section {
    margin: 15rem auto;
  }

  #about-js-section .container .row .column.column-left {
    text-align: left;
  }
  
  #about-js-section .container .row .column.column-left h1 {
    color: var(--primary-color);
    font-weight: bold;
  }

  #about-js-section .container .row .column.column-left p {
    text-align: justify;
  }

  #about-js-section .container .row .column.column-right {
    text-align: right;
  }

  #about-js-section .container .row .column.column-right img {
    width: 40rem;
    -webkit-filter: drop-shadow(0 35px 50px rgba(0,0,0,0.3));
    -moz-filter: drop-shadow(0 35px 50px rgba(0,0,0,0.3));
    -o-filter: drop-shadow(0 35px 50px rgba(0,0,0,0.3));
    filter: drop-shadow(0 35px 50px rgba(0,0,0,0.3));
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
  }

  /* Services section */
  #js-services-section {
    margin: 15rem auto;
  }

  #js-services-section .container .js-services-header {
    margin-bottom: 5rem;
  }

  #js-services-section .container .js-services-header h1 {
    color: var(--primary-color);
    font-weight: bold;
  }

  #js-services-section .container .js-services-body .row {
    align-items: center !important;
    justify-content: center;
  }

  #js-services-section .container .js-services-body .row .column .card {
    border-radius: 10px 5px 10px 5px;
    background: var(--primary-color);
    -webkit-box-shadow: 0 35px 50px rgba(0,0,0,0.3);    
    -moz-box-shadow: 0 35px 50px rgba(0,0,0,0.3);    
    -o-box-shadow: 0 35px 50px rgba(0,0,0,0.3);    
    box-shadow: 0 35px 50px rgba(0,0,0,0.3);    
    padding: 1.25rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
  }

  #js-services-section .container .js-services-body .row .column .card img {
    width: 15rem;
    display: block;
    margin: 5rem auto;
    -webkit-filter: drop-shadow(0 20px 35px rgba(0,0,0,0.3));
    -moz-filter: drop-shadow(0 20px 35px rgba(0,0,0,0.3));
    -o-filter: drop-shadow(0 20px 35px rgba(0,0,0,0.3));
    filter: drop-shadow(0 20px 35px rgba(0,0,0,0.3));
  }

  #js-services-section .container .js-services-body .row .column .card .js-service {
    margin-bottom: 4rem;
    display: block;
    font-size: 2rem;
  }

  /* Portfolio */
  #js-portfolio-section {
    margin: 15rem auto;
  }

  #js-portfolio-section .container .js-portfolio-header {
    margin-bottom: 5rem;
  }

  #js-portfolio-section .container .js-portfolio-header h1 {
    color: var(--primary-color);
    font-weight: bold;
  }

  #js-portfolio-section .container .js-portfolio-body .row {
    align-items: center !important;
    justify-content: center;
  }

  #js-portfolio-section .container .js-portfolio-body .row .column .card {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    background-image: linear-gradient(to bottom right, var(--primary-color), #045e5c);
    padding: 3rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
  }

  #js-portfolio-section .container .js-portfolio-body .row .column .card .row .column-left {
    text-align: center;
  }

  #js-portfolio-section .container .js-portfolio-body .row .column .card .row .column-left .portfolio-name {
    font-size: 2.5rem;
  }

  #js-portfolio-section .container .js-portfolio-body .row .column .card .row .column-right img {
    width: 25rem;
    height: 35rem;
    -webkit-filter: drop-shadow(0 35px 50px rgba(0,0,0,0.3));
    -moz-filter: drop-shadow(0 35px 50px rgba(0,0,0,0.3));
    -o-filter: drop-shadow(0 35px 50px rgba(0,0,0,0.3));
    filter: drop-shadow(0 35px 50px rgba(0,0,0,0.3));
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
  }

  /* Our Expertise */
  #js-technology-section {
    margin: 15rem auto;
  }

  #js-technology-section .container .js-tech-header {
    margin-bottom: 5rem;
  }

  #js-technology-section .container .js-tech-header h1 {
    color: var(--primary-color);
    font-weight: bold;
  }

  #js-technology-section .container .js-tech-body .row {
    align-items: center !important;
    justify-content: center;
  }

  #js-technology-section .container .js-tech-body .row .column img {
    width: 15rem;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);

    transition: .4s;
    cursor: pointer;
  }

  #js-technology-section .container .js-tech-body .row .column:hover img {
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -o-filter: grayscale(0);
    filter: grayscale(0);
  } 
}

@media (max-width: 61.9375rem) {
  #about-js-section {
    margin: 10rem auto;
  }

  #about-js-section .container {
    width: 100%;
  }

  #about-js-section .container .row {
    align-items: center;
  }

  #about-js-section .container .row .column.column-50 {
    max-width: 100%;
  }

  #about-js-section .container .row .column.column-left {
    text-align: center;
  }
  
  #about-js-section .container .row .column.column-left h1 {
    color: var(--primary-color);
    font-weight: bold;
  }

  #about-js-section .container .row .column.column-left p {
    text-align: center;
    margin: 3rem auto;
  }

  #about-js-section .container .row .column.column-right {
    text-align: center;
  }

  #about-js-section .container .row .column.column-right img {
    width: 40rem;
    -webkit-filter: drop-shadow(0 35px 40px rgba(0,0,0,0.2));
    -moz-filter: drop-shadow(0 35px 40px rgba(0,0,0,0.2));
    -o-filter: drop-shadow(0 35px 40px rgba(0,0,0,0.2));
    filter: drop-shadow(0 35px 40px rgba(0,0,0,0.2));
  }

    /* Services section */
    #js-services-section {
      margin: 15rem auto;
    }
  
    #js-services-section .container .js-services-header {
      margin-bottom: 5rem;
    }
  
    #js-services-section .container .js-services-header h1 {
      color: var(--primary-color);
      font-weight: bold;
    }
  
    #js-services-section .container .js-services-body .row {
      align-items: center !important;
      justify-content: center;
    }

    #js-services-section .container .js-services-body .row .column.column-50 {
      max-width: 100%;
    }
  
    #js-services-section .container .js-services-body .row .column .card {
      border-radius: 10px 5px 10px 5px;
      background: var(--primary-color);
      -webkit-box-shadow: 0 35px 40px rgba(0,0,0,0.2);    
      -moz-box-shadow: 0 35px 40px rgba(0,0,0,0.2);    
      -o-box-shadow: 0 35px 40px rgba(0,0,0,0.2);    
      box-shadow: 0 35px 40px rgba(0,0,0,0.2);    
      padding: 1.25rem;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -o-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      color: #fff;
    }
  
    #js-services-section .container .js-services-body .row .column .card img {
      width: 15rem;
      display: block;
      margin: 5rem auto;
      -webkit-filter: drop-shadow(0 20px 35px rgba(0,0,0,0.3));
      -moz-filter: drop-shadow(0 20px 35px rgba(0,0,0,0.3));
      -o-filter: drop-shadow(0 20px 35px rgba(0,0,0,0.3));
      filter: drop-shadow(0 20px 35px rgba(0,0,0,0.3));
    }
  
    #js-services-section .container .js-services-body .row .column .card .js-service {
      margin-bottom: 4rem;
      display: block;
      font-size: 2rem;
    }
  
      /* Portfolio */
  #js-portfolio-section {
    margin: 15rem auto;
  }

  #js-portfolio-section .container .js-portfolio-header {
    margin-bottom: 5rem;
  }

  #js-portfolio-section .container .js-portfolio-header h1 {
    color: var(--primary-color);
    font-weight: bold;
  }

  #js-portfolio-section .container .js-portfolio-body .row {
    align-items: center !important;
    justify-content: center;
  }

  #js-portfolio-section .container .js-portfolio-body .row .column.column-50 {
    max-width: 100%;
  }

  #js-portfolio-section .container .js-portfolio-body .row .column .card {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    background: var(--primary-color);
    padding: 3rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
  }

  #js-portfolio-section .container .js-portfolio-body .row .column .card .row .column.column-50 {
    max-width: 100%;
    margin: 1.5rem auto;
  }

  #js-portfolio-section .container .js-portfolio-body .row .column .card .row .column-left {
    text-align: center;
  }

  #js-portfolio-section .container .js-portfolio-body .row .column .card .row .column-left .portfolio-name {
    font-size: 2.5rem;
  }

  #js-portfolio-section .container .js-portfolio-body .row .column .card .row .column-right img {
    width: 45rem;
    -webkit-filter: drop-shadow(0 35px 50px rgba(0,0,0,0.3));
    -moz-filter: drop-shadow(0 35px 50px rgba(0,0,0,0.3));
    -o-filter: drop-shadow(0 35px 50px rgba(0,0,0,0.3));
    filter: drop-shadow(0 35px 50px rgba(0,0,0,0.3));
  }

    /* Our Expertise */
    #js-technology-section {
      margin: 15rem auto;
    }
  
    #js-technology-section .container .js-tech-header {
      margin-bottom: 5rem;
    }
  
    #js-technology-section .container .js-tech-header h1 {
      color: var(--primary-color);
      font-weight: bold;
    }
  
    #js-technology-section .container .js-tech-body .row {
      align-items: center !important;
      justify-content: center;
    }

    #js-technology-section .container .js-tech-body .row .column {
      max-width: 100%;
      margin: 3rem auto;
    }
  
    #js-technology-section .container .js-tech-body .row .column img {
      width: 15rem;  
      transition: .4s;
      cursor: pointer;
    }
  
    #js-technology-section .container .js-tech-body .row .column:hover img {
      -webkit-filter: grayscale(0);
      -moz-filter: grayscale(0);
      -o-filter: grayscale(0);
      filter: grayscale(0);
    } 
  
}