/* Desktop Version */
@media screen and (min-width: 61.875rem) {
  .js-navigation {
    background-color: transparent;
    display: block;
    height: auto;
    max-width: 100%;
    padding: 20px;
    -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
            box-sizing: border-box;
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
  }

  .js-navigation .container .btn-open-side-bar {
    display: none;
  }

  .js-navigation .container .js-navigation-brand {
    float: left;
    line-height: 7rem;
  }

  .js-navigation .container .js-navigation-brand .js-navigation-logo {
    color: #fff;
    font-weight: bold;
    font-size: 3rem;
    text-decoration: none;
  }

  .js-navigation .container .js-navigation-menu {
    float: right;
  }

  .js-navigation .container .js-navigation-menu .js-nav-menu {
    display: flex !important;
    padding-top: 2rem;
  }


  .js-navigation .container .js-navigation-menu .js-nav-menu .js-nav-item {
    margin: auto 2.5rem;
    list-style: none;
  }
  
  .js-navigation .container .js-navigation-menu .js-nav-menu .js-nav-item .js-nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: .2rem;
    background-color: #fff;
    -webkit-transition: 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -moz-transition: 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -o-transition: 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    transition: 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    opacity: 0;
  }

  .js-navigation .container .js-navigation-menu .js-nav-menu .js-nav-item .js-nav-link {
    color: #fff;
    text-decoration: none;
  }

  .js-navigation .container .js-navigation-menu .js-nav-menu .js-nav-item:hover .js-nav-link::after {
    width: 100%;
    opacity: 1;
  }
  
  .js-navigation .container .js-navigation-menu .js-nav-menu .js-nav-item.active .js-nav-link::after {
    width: 100%;
    opacity: 1;
  }
}

/* Mobile Version */
@media screen and (max-width: 61.8125rem) {
  .js-navigation {
    background-color: #fff;
    display: block;
    height: auto;
    max-width: 100%;
    padding: 0.5rem;
    -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
            box-sizing: border-box;   
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    -o-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  }

  .js-navigation .container .btn-open-side-bar {
    display: block;
    border: transparent;
    position: absolute;
    top: 1.7rem;
    cursor: pointer !important;
    background-color: transparent;
    outline: none;
  }

  .js-navigation .container .btn-open-side-bar .menu-bar {
    width: 2rem;
  }

  .js-navigation .container .js-navigation-brand {
    display: inline-block;
    line-height: 6rem;
  }

  .js-navigation .container .js-navigation-brand .js-navigation-logo {
    text-align: center;
    color: #000;
    font-weight: bold;
    font-size: 2rem;
    text-decoration: none;
  }

  .js-navigation .container .js-navigation-brand .js-navigation-logo span {
    color: var(--primary-color);
  }

  .js-navigation .container .js-navigation-menu {
    display: none;
    margin-top: 2rem;
  }
}
