@media screen and (min-width: 61.875rem) {
  .js-side-bar-overlay {
    display: none;
  }
}

@media screen and (max-width: 61.8125rem) {
  .js-side-bar-overlay {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 1;
    display: none;
  }

  .js-side-bar-overlay.active {
    display: block;
  }

  .js-side-bar-overlay.active .js-side-bar {
    -webkit-animation: show 1s;
    -moz-animation: show 1s;
    -o-animation: show 1s;
    animation: show 1s;
  }

  @-webkit-keyframes show {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
  @-moz-keyframes show {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
  @-o-keyframes show {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
  @keyframes show {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  .js-side-bar-overlay .js-side-bar {
    margin: 2rem 2rem;
    background-color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    box-sizing: border-box;
    box-sizing: border-box;
    padding: 1.5rem;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 15px 20px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 15px 20px rgba(0,0,0,0.2);
    -o-box-shadow: 0 15px 20px rgba(0,0,0,0.2);
    box-shadow: 0 15px 20px rgba(0,0,0,0.2);
  }

  .js-side-bar-overlay .js-side-bar .container .js-side-header {
    width: 100%;
    padding: 3rem;
  }

  .js-side-bar-overlay .js-side-bar .container .js-side-header .js-side-menu-brand .js-side-menu-logo {
    color: #000;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
  }

  .js-side-bar-overlay .js-side-bar .container .js-side-header .btn-close-side-bar {
    border: transparent;
    background-color: transparent;
    position: absolute;
    top: 2.8rem;
    left: 1rem;
    cursor: pointer;
    outline: none;
  }

  .js-side-bar-overlay .js-side-bar .container .js-side-header .btn-close-side-bar span {
    color: var(--primary-color);
    font-size: 3rem;
  }

  .js-side-bar-overlay .js-side-bar .container .js-side-section-menu {
    margin-top: 2rem;
  }

  .js-side-bar-overlay .js-side-bar .container .js-side-section-menu .js-side-menu .js-side-item {
    margin: 3rem 2rem;
    list-style: none;
  }

  .js-side-bar-overlay .js-side-bar .container .js-side-section-menu .js-side-menu .js-side-item:hover .js-side-link {
    width: 100%;
    opacity: 1;
    color: var(--primary-color);
  }

  .js-side-bar-overlay .js-side-bar .container .js-side-section-menu .js-side-menu .js-side-item .js-side-link {
    color: #000;
    text-decoration: none;
    -webkit-transition: 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -moz-transition: 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -o-transition: 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    transition: 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  }
}